html,
body {
  height: 100%;
  background-image: url('/Images/apocalypse-background.jpg');
  background-position: initial;
  background-size: cover;
}

background-image {
  object-fit: initial;
}
body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: sans-serif;
}
.screen {
  background-color: darkgrey;
  width: 800px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
canvas {
}

button {
  font: inherit;
  color: red;
  background-color: black;
  border: 0;
  padding: 1em;
}
