html,
body {
  height: 100%;
  background-image: url('/Images/creepy-alley.jpeg');
  background-position: initial;
  background-size: auto;
  background-position-x: center;
}

background-image {
  object-fit: initial;
}
body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: sans-serif;
}
h1 {
  color: red;
  background-color: transparent;
  padding: 2em;
  font-family: monospace;
}
.screen {
  background-color: transparent;
  width: 800px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
canvas {
}

button {
  font-family: monospace;
  font-size: 20px;
  color: red;
  background-color: black;
  border: 0;
  padding: 1em;
}
#game-over-screen {
  background-image: url('/Images/dead-background.jpeg');
  background-size: contain;
  background-position-x: center;
}
