html,
body {
  height: 100%;
  background-image: url('/Images/apocalypse-background.jpg');
  background-position: initial;
  background-size: cover;
}

background-image {
  object-fit: initial;
}
body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
canvas {
  background-color: darkgray;
}
